# Compiled Object files
*.slo
*.lo
*.o
*.crf
*.d
*.axf
*.htm
*.lnp
*.nap
*.lst
*.__i
*.uvgui*

# Backup
*.bak
*.plg
*.tra
*.dep

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
